# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.1 project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\щЕКУЗШУМ\New Unity Project\New Unity Project\1 project\.idea\.idea.1 project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
